body {
    background-color: #F6F6F6;
    border-top: 5px solid #222222;
    border-bottom: 5px solid #222222;
    margin: 30px auto;
    padding: 50px;
    width: 800px;
}
nav {
    color: #222;
}
nav li {
    display: inline-block;
}


h1 {
  font-family: 'Bungee Shade', cursive;
}

a {
    font-weight: bold;
    color: #05080c;
}
li.current_page a {
    text-decoration: none;
    font-style: italic;
}
header {
    text-align: center;
}
.title {
    font-family: 'Roboto', sans-serif;
}

.max {
    display:inline-block;
    height: 200px;
    float: left;
    align-items: start;
    padding: 10px;
}
.relaxr {
  height: 300px;
  float: left;
  padding: 0 20px 20px 0;

}
p{
  float: right
  display: block;
  width: 75%
  margin:auto
  padding 0 10 0 0;


}

.imgtitle {
    font-family: 'Merriweather', cursive;
}
ul {
    padding: 0;
}
hr {

    border-top: 1px solid #222;
    margin: 30px 30px;


}

.indexhr {
  align-items: end;
  border-top: 1px solid #222;
  margin: auto;
}
.stabline {
    margin: 100px 100;

}

h4{
  font-family: 'VT323', monospace;


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


footer{
  text-align: center;
}
